{% extends "base.html" %}

{% block title %}Поезд{% endblock %}

{% block content %}
    <h1>Поезд</h1>
    <div class="row">
        <div class="col-md">
            <table class="table table-striped table-hover">
                <tr>
                    <td>Название Поезда</td>
                    <td>Пункт отправления</td>
                    <td>Пункт назначения</td>
                    <td>Время в пути</td>
                </tr>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.from_city }}</td>
                    <td>{{ object.to_city }}</td>
                    <td>{{ object.travel_time }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'trains:home' %}"><button type="button" class="btn btn-outline-danger">Назад к списку</button></a>
        </div>
    </div>
{% endblock %}